@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a18582;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #F28585;
    text-align: center;
    text-shadow: 1px 1px 2px #6439396b;
}

h2 {
    color: #86A69D;
    text-shadow: 1px 1px 2px #5f79718f;
}

p {
    text-align: justify;
    color: #564256;
}