@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid black;
}

.centrais {
    text-align: center;
    font-weight: bold;
    padding: 15px;
}